@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .theme-classic {
    @apply bg-classic bg-cover bg-center;
  }
  .theme-bubblegum {
    @apply bg-bubblegum bg-cover bg-center;
  }
  .theme-dark {
    @apply bg-dark bg-cover bg-center;
  }
  .theme-forest {
    @apply bg-forest bg-cover bg-center;
  }
  .theme-galaxy {
    @apply bg-galaxy bg-cover bg-center;
  }
  .theme-gold {
    @apply bg-gold bg-cover bg-center;
  }
  .theme-matrix {
    @apply bg-matrix bg-cover bg-center;
  }
  .theme-neon {
    @apply bg-neon bg-cover bg-center;
  }
  .theme-ocean {
    @apply bg-ocean bg-cover bg-center;
  }
  .theme-pastel {
    @apply bg-pastel bg-cover bg-center;
  }
  .theme-sunset {
    @apply bg-sunset bg-cover bg-center;
  }
  .theme-vintage {
    @apply bg-vintage bg-cover bg-center;
  }

  .animate-pop-up {
    animation: popUp 0.5s ease-out, fadeOut 0.5s ease-in 2s forwards;
  }

  @keyframes popUp {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
      transform: scale(0.8);
    }
  }

  .animate-faedInOut {
    animation: fadeInOut 2s ease-in-out forwards;
  }

  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }
}
